* {
    margin: 0;
    padding: 0;
}
img {
    width: 150px;
    display: block;
}
.item {
    text-decoration: none;
    display: block;
    font-size: 16px;
     border-bottom: 3px dotted black; 
    color: white;
    padding: 10px;
    padding-left: 30px;
}
nav {
    background-color: #012e01;
    width: 150px;
    height: 100vh;
}
.left {
    float: left;
}
body {
    background-color: black;
}
h1{
    color: #542580;
    margin-left: 700px;
    font-size: 40px;
   
}
.right {
    float: right;
} 
.pera1 {
    color: white;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 200px;
    display: block;
    font-size: 19px;
}

.pwadd {
    margin: 0px;
    margin-left: 500px;
    width: 600px;
    margin-top: 30px;
}
.our {
    margin-top: 30px;
}
.icon {
    position: fixed;
    width: 120px;
    right: 0;
    bottom: 0px;

}
